* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: #4c555b;
}

ul {
  list-style-type: none;
}

.nav {
  counter-reset: list;
  overflow: hidden;
  padding: 5px 50px;
}
.nav__step {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  position: relative;
  margin-bottom: 30px;
  letter-spacing: -0.26px;
}
.nav__step a {
  margin-left: -46px;
  padding-left: 44px;
  display: block;
  width: fit-content;
  padding-right: 15px;
}
.nav__step a:focus, .nav__step a:active {
  color: #eb4410;
  box-shadow: 0 0 1px 1px #FFC633;
  border-radius: 2px;
  outline: none;
}
.nav__step a:hover {
  color: #eb4410;
}
.nav__step a span {
  border-bottom: 1px solid #eaecef;
}
.nav__step a:hover span {
  border-bottom: 1px solid #eec7ba;
}
.nav__step:last-of-type {
  margin-bottom: 0;
}
.nav__step:last-of-type::after {
  display: none;
}
.nav__step::before {
  counter-increment: list;
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #d4f7e1;
  border-radius: 20px;
  text-align: center;
  left: -44px;
  line-height: 36px;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.07967 15.2898L5.96144 13.172C5.52978 12.7403 5.52978 12.043 5.96144 11.6113C6.39311 11.1797 7.09042 11.1797 7.52208 11.6113L8.86552 12.9433L15.3737 6.43508C15.8054 6.00341 16.5027 6.00341 16.9343 6.43508C17.366 6.86674 17.366 7.56405 16.9343 7.99572L9.64031 15.2898C9.21971 15.7214 8.51133 15.7214 8.07967 15.2898Z' fill='%2304B34A'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}
.nav__step::after {
  display: block;
  content: "";
  width: 2px;
  position: absolute;
  background-color: #d4f7e1;
  height: 30px;
  left: -27px;
  z-index: -1;
}
.nav__step_type_active:not(.nav__step_type_completed)::before {
  background-color: #5392f7;
  color: white;
  content: counter(list);
  background-image: none;
}
.nav__step_type_active:not(.nav__step_type_completed)::after {
  background-color: #eaecef;
}
.nav__step_type_active a {
  color: black;
}
.nav__step_type_active a:hover {
  color: black;
}
.nav__step_type_active a:hover span {
  border-bottom: none;
}
.nav__step_type_active a:focus, .nav__step_type_active a:active {
  color: black;
  box-shadow: none;
  outline: none;
}
.nav__step_type_active a span {
  border-bottom: none;
}
.nav__step_type_active a span:hover {
  border-bottom: none;
}
.nav__step_type_active ~ * {
  pointer-events: none;
}
.nav__step_type_active ~ * a {
  color: #858585;
}
.nav__step_type_active ~ * a:hover {
  color: #858585;
}
.nav__step_type_active ~ * a:focus, .nav__step_type_active ~ * a:active {
  color: #858585;
  box-shadow: none;
  outline: none;
}
.nav__step_type_active ~ * a span {
  border-bottom: none;
}
.nav__step_type_active ~ * a span:hover {
  border-bottom: none;
}
.nav__step_type_active ~ *::before {
  background-color: white;
  content: counter(list);
  background-image: none;
  border: 2px solid #eaecef;
  width: 32px;
  height: 32px;
  color: #858585;
  line-height: 32px;
}
.nav__step_type_active ~ *::after {
  background-color: #eaecef;
}
.nav__step_type_active .nav__sub-list {
  display: block;
}
.nav__step_type_completed .nav__sub-list .nav__sub-item::after, .nav__step_type_completed .nav__sub-list .nav__sub-item::before {
  background-color: #d4f7e1;
}
.nav__step_type_completed .nav__sub-list .nav__sub-item--active {
  background: #d4f7e1;
}
.nav__step_type_completed .nav__sub-list .nav__sub-item--active:hover {
  background: #d4f7e1;
}
.nav__step_type_completed .nav__sub-list .nav__sub-item--active::after {
  background: linear-gradient(180deg, #d4f7e1 1%, #04b304 50%, #d4f7e1 88%);
}
.nav__step_type_completed .nav__sub-list .nav__sub-item--active::before {
  background: #04b304;
}
.nav__sub-list {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding-left: 0;
  margin-top: 14px;
  display: none;
}
.nav__sub-item {
  position: relative;
  margin-bottom: 8px;
  width: fit-content;
  padding-left: 44px;
  margin-left: -44px;
  border-radius: 2px;
  line-height: 24px;
  letter-spacing: -0.09px;
}
.nav__sub-item a {
  padding-right: 12px;
}
.nav__sub-item:hover {
  background: #f5f6f8;
}
.nav__sub-item:active {
  box-shadow: 0 0 1px 1px #FFC633;
  border-radius: 2px;
  outline: none;
}
.nav__sub-item:not(:active) a:focus span {
  box-shadow: 0 0 1px 1px #FFC633;
  border-radius: 2px;
  outline: none;
}
.nav__sub-item::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #5392f7;
  border-radius: 1px;
  position: absolute;
  left: 17px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.nav__sub-item::after {
  display: block;
  content: "";
  width: 2px;
  position: absolute;
  background-color: #5392f7;
  left: 17px;
  top: -8px;
  bottom: -8px;
}
.nav__sub-item:nth-of-type(1)::after {
  top: -14px;
}
.nav__sub-item--active {
  background: #ebf1fb;
  font-weight: 500;
}
.nav__sub-item--active::before {
  background-color: #5392f7;
}
.nav__sub-item--active::after {
  background: linear-gradient(180deg, #5392f7 58%, #ebf1fb 80%);
}
.nav__sub-item--active ~ *::before {
  background: #ebf1fb;
}
.nav__sub-item--active ~ *::after {
  background: #ebf1fb;
}

/*# sourceMappingURL=style.css.map */
